#map {
    height: 100%;
}

#search {
    width: 70%;
    margin: 0;
    top: 0px;
}

#filterKeyword {
    width: 70%;
    margin: 0;
    top: 40px;
}

.input-are {
    width: 80%;
    height: 100%;
}

.places {
    width: 60%;
}

.venueInfo {
    width: 150px
    height: 150px;
}