html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

#map {
  width: 100%;
  height: 100%;
  position: relative;
}

#search {
  display: flex;
  width: 40%;
  height: 40px;
  position: absolute;
  margin-left: 20px;
  top: 20px;
}

#search-area {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 10px;
  border: 1px;
}

#search-button {
  background: url("../img/button-icon.png");
  background-size: 40px;
  background-color: #7d97ad;
  width: 48px;
  height: 40px;
  border-radius: 2px 0 2px 0;
  padding: 0px;
  cursor: pointer;
}