html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

#map {
  width: 100%;
  height: 100%;
  position: relative;
}

#search {
  display: flex;
  border-radius: 10px;
  width: 60%;
  height: 40px;
  position: absolute;
  margin-left: 20px;
  top: 20px;
}

#search-area {
  display: block;
  width: 50%;
  margin: 0;
  padding: 0 0 0 10px;
  border-color: #000000;
}


#distance {
  display: flex;
  top: 80px;
  margin-left: 20px;
  position: absolute;
  width: 50%;
  border-color: #000000;
}

/*#mode {
  width: 25%;
  border-color: #000000;
}*/