html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

#map {
  width: 100%;
  height: 100%;
  position: relative;
}

#search {
  display: flex;
  border-radius: 10px;
  width: 60%;
  height: 40px;
  position: absolute;
  margin-left: 20px;
  top: 20px;
}

#search-area {
  display: block;
  width: 50%;
  margin: 0;
  padding: 0 0 0 10px;
  border-color: #000000;
}

.places {
  max-width: 300px;
  width: 40%;
  height: 80%;
  padding-left: 2px;
  padding-right: 2px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  border-radius: 3px;
  z-index: 102;
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 14px;
  background-color: darkgray;
}

.placeList {
  list-style-type: none;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.listItem:hover {
  background-color: #1496BB;

}

.listItem:active {
  background-color: #1287A8;
}

.placeList::-webkit-scrollbar {
  width: 0.8em;
}

.placeList::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.placeImage {
  width: 100px;
  height: 100px;
}
.venueInfo {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  border-color: #000000;
}

.venueName {
  font-size: 16px;
}

#rating {
  color:#ea073c;
}